@import url("https://accrazed.github.io/YoRHA-UI-BetterDiscord/font/stylesheet.css");
@import url("https://accrazed.github.io/YoRHA-UI-BetterDiscord/font/stylesheet.css");
@import url("https://accrazed.github.io/YoRHA-UI-BetterDiscord/font/stylesheet.css");
@import url("https://accrazed.github.io/YoRHA-UI-BetterDiscord/font/stylesheet.css");
@import url("https://accrazed.github.io/YoRHA-UI-BetterDiscord/font/stylesheet.css");
@import url("https://accrazed.github.io/YoRHA-UI-BetterDiscord/font/stylesheet.css");
@keyframes pulsingBackground {
  0% {
    background-color: #57544a;
  }
  20% {
    background-color: #57544a;
    opacity: 1;
  }
  50% {
    background-color: #57544a;
    opacity: 0.5;
  }
  80% {
    background-color: #57544a;
    opacity: 1;
  }
  100% {
    background-color: #57544a;
  }
}
@keyframes pulsingBackground {
  0% {
    background-color: #57544a;
  }
  20% {
    background-color: #57544a;
    opacity: 1;
  }
  50% {
    background-color: #57544a;
    opacity: 0.5;
  }
  80% {
    background-color: #57544a;
    opacity: 1;
  }
  100% {
    background-color: #57544a;
  }
}
.vsc-initialized {
  margin: 0;
}

.app {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column;
  font-family: "sce-ps3_rodin_latinregular", Arial, Helvetica, sans-serif;
  background: url("https://i.ibb.co/q1FT2Qz/Nie-R-UI-Clean.png") center/cover no-repeat fixed;
  background-size: cover !important;
  color: #57544a;
  z-index: 1;
}
.app::before {
  top: 0;
  left: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(78, 75, 66, 0.2), transparent 30%, transparent 80%, rgba(78, 75, 66, 0.2)), radial-gradient(transparent 50%, rgba(78, 75, 66, 0.4));
  user-select: none;
  pointer-events: none;
}
.app::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://i.ibb.co/Fq9Jt09/Nie-R-Lattice.png") repeat fixed;
  z-index: 10000;
  opacity: 0.03;
  user-select: none;
  pointer-events: none;
}

@keyframes pulsingBackground {
  0% {
    background-color: #57544a;
  }
  20% {
    background-color: #57544a;
    opacity: 1;
  }
  50% {
    background-color: #57544a;
    opacity: 0.5;
  }
  80% {
    background-color: #57544a;
    opacity: 1;
  }
  100% {
    background-color: #57544a;
  }
}
.bullet {
  flex: 0 0 auto;
  margin-right: 0.5rem;
  background-color: #57544a;
  width: 0.9rem;
  height: 0.9rem;
}

.card {
  background-color: #dad4bb;
  width: 20rem;
  margin: auto;
  margin-bottom: 1rem;
  overflow: hidden;
  transition: transform 0.1s linear;
  transform: scaleY(0);
  transform-origin: center;
}
.card.card-selected {
  transform: scaleY(1);
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  margin: auto;
  vertical-align: middle;
  background-color: #57544a;
  color: #dad4bb;
}

.card-body {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
}

.card-image {
  background-color: #979381;
  align-self: center;
  width: 100%;
  height: 150px;
  margin-bottom: 1rem;
}

.card-divider {
  align-self: center;
  position: relative;
  margin: 1rem 0 0;
  width: 100%;
  height: 0.2rem;
  background-color: #979381;
}

.gh-icon {
  position: relative;
  mask: url("../assets/icon_github.svg") center/contain no-repeat;
  transition: background-color 0.1s;
  background-color: #dad4bb;
  height: 1.3rem;
  width: 1.3rem;
}
.gh-icon:hover {
  background-color: #979381;
}

.list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.selectable-outer {
  margin: 3px 0;
  height: 32px;
}
.selectable-outer:hover, .selectable-outer:active,
.selectable-outer .selected {
  margin: 3px 0;
  height: 32px;
  box-shadow: 0 1px #57544a, 0 -1px #57544a;
}
.selectable-outer:hover .selectable-inner, .selectable-outer:active .selectable-inner,
.selectable-outer .selected .selectable-inner {
  color: #dad4bb;
  background-color: transparent;
}
.selectable-outer:hover .selectable-inner::before, .selectable-outer:active .selectable-inner::before,
.selectable-outer .selected .selectable-inner::before {
  width: 100%;
}
.selectable-outer:hover .selectable-inner .bullet, .selectable-outer:active .selectable-inner .bullet,
.selectable-outer .selected .selectable-inner .bullet {
  background-color: #dad4bb;
}

.selectable-inner {
  transition: background-color 0.4s;
  background-color: #b6b19b;
  display: flex;
  align-items: center;
  user-select: none;
  padding: 0 0.5rem;
  position: relative;
  height: 28px;
  top: 2px;
  white-space: nowrap;
}
.selectable-inner::before {
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  animation-name: pulsingBackground;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  width: 0%;
  transition: width 0.4s;
  top: -1px;
  bottom: -1px;
  right: 0;
  left: 0;
}

.logo-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo {
  margin: 0.25rem;
  width: 48px;
}

@keyframes pulsingBackground {
  0% {
    background-color: #57544a;
  }
  20% {
    background-color: #57544a;
    opacity: 1;
  }
  50% {
    background-color: #57544a;
    opacity: 0.5;
  }
  80% {
    background-color: #57544a;
    opacity: 1;
  }
  100% {
    background-color: #57544a;
  }
}
.txt-title {
  text-align: left;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  letter-spacing: 0.35rem;
  text-shadow: 0.3rem 0.3rem #979381;
  text-transform: uppercase;
}
@media screen and (min-width: 435px) {
  .txt-title {
    font-size: 4rem;
    text-shadow: 0.5rem 0.5rem #979381;
  }
}

.txt-subtitle {
  letter-spacing: 0.2rem;
  text-shadow: 0.2rem 0.2rem #979381;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: rgba(87, 84, 74, 0.8);
}

.txt-subtext {
  font-size: 1rem;
}

.high {
  color: #dad4bb;
}

.mid {
  color: #979381;
}

.low {
  color: #57544a;
}

.alert {
  color: #cd664d;
}

.pattern {
  margin-top: 1rem;
  border-top: 2px solid #57544a;
}

#header {
  flex: 0 1 auto;
}

#footer {
  flex: 0 1 auto;
  margin-top: 0;
  width: 100%;
}
#footer .pattern {
  margin-top: 0;
}

.pattern-inner {
  height: 40px;
  background-size: 50px 3px, 50px 1px, 50px 1px, 50px 1px, 50px 1px, 50px 1px, 50px 1px, 50px 1px, 50px 1px;
  background-position: 0 0, 22px 4px, 22px 5px, 22px 6px, 22px 7px, 28px 12px, 28px 13px, 28px 14px, 28px 15px;
  background-image: linear-gradient(90deg, #57544a, #57544a 10px, transparent 10px), linear-gradient(90deg, rgba(87, 84, 74, 0.4), rgba(87, 84, 74, 0.4) 1px, rgba(87, 84, 74, 0.8) 1px, rgba(87, 84, 74, 0.8) 2px, rgba(87, 84, 74, 0.9) 2px, rgba(87, 84, 74, 0.9) 3px, rgba(87, 84, 74, 0.4) 3px, rgba(87, 84, 74, 0.4) 4px, transparent 4px, transparent 12px, rgba(87, 84, 74, 0.4) 12px, rgba(87, 84, 74, 0.4) 13px, rgba(87, 84, 74, 0.8) 13px, rgba(87, 84, 74, 0.8) 14px, rgba(87, 84, 74, 0.9) 14px, rgba(87, 84, 74, 0.9) 15px, rgba(87, 84, 74, 0.4) 15px, rgba(87, 84, 74, 0.4) 16px, transparent 16px), linear-gradient(90deg, rgba(87, 84, 74, 0.9), rgba(87, 84, 74, 0.9) 1px, #57544a 1px, #57544a 2px, #57544a 2px, #57544a 3px, rgba(87, 84, 74, 0.9) 3px, rgba(87, 84, 74, 0.9) 4px, transparent 4px, transparent 12px, rgba(87, 84, 74, 0.9) 12px, rgba(87, 84, 74, 0.9) 13px, #57544a 13px, #57544a 14px, #57544a 14px, #57544a 15px, rgba(87, 84, 74, 0.9) 15px, rgba(87, 84, 74, 0.9) 16px, transparent 16px), linear-gradient(90deg, rgba(87, 84, 74, 0.9), rgba(87, 84, 74, 0.9) 1px, #57544a 1px, #57544a 2px, #57544a 2px, #57544a 3px, rgba(87, 84, 74, 0.9) 3px, rgba(87, 84, 74, 0.9) 4px, transparent 4px, transparent 12px, rgba(87, 84, 74, 0.9) 12px, rgba(87, 84, 74, 0.9) 13px, #57544a 13px, #57544a 14px, #57544a 14px, #57544a 15px, rgba(87, 84, 74, 0.9) 15px, rgba(87, 84, 74, 0.9) 16px, transparent 16px), linear-gradient(90deg, rgba(87, 84, 74, 0.4), rgba(87, 84, 74, 0.4) 1px, rgba(87, 84, 74, 0.8) 1px, rgba(87, 84, 74, 0.8) 2px, rgba(87, 84, 74, 0.9) 2px, rgba(87, 84, 74, 0.9) 3px, rgba(87, 84, 74, 0.4) 3px, rgba(87, 84, 74, 0.4) 4px, transparent 4px, transparent 12px, rgba(87, 84, 74, 0.4) 12px, rgba(87, 84, 74, 0.4) 13px, rgba(87, 84, 74, 0.8) 13px, rgba(87, 84, 74, 0.8) 14px, rgba(87, 84, 74, 0.9) 14px, rgba(87, 84, 74, 0.9) 15px, rgba(87, 84, 74, 0.4) 15px, rgba(87, 84, 74, 0.4) 16px, transparent 16px), linear-gradient(90deg, rgba(87, 84, 74, 0.4), rgba(87, 84, 74, 0.4) 1px, rgba(87, 84, 74, 0.8) 1px, rgba(87, 84, 74, 0.8) 2px, rgba(87, 84, 74, 0.9) 2px, rgba(87, 84, 74, 0.9) 3px, rgba(87, 84, 74, 0.4) 3px, rgba(87, 84, 74, 0.4) 4px, transparent 4px), linear-gradient(90deg, rgba(87, 84, 74, 0.9), rgba(87, 84, 74, 0.9) 1px, #57544a 1px, #57544a 2px, #57544a 2px, #57544a 3px, rgba(87, 84, 74, 0.9) 3px, rgba(87, 84, 74, 0.9) 4px, transparent 4px), linear-gradient(90deg, rgba(87, 84, 74, 0.9), rgba(87, 84, 74, 0.9) 1px, #57544a 1px, #57544a 2px, #57544a 2px, #57544a 3px, rgba(87, 84, 74, 0.9) 3px, rgba(87, 84, 74, 0.9) 4px, transparent 4px), linear-gradient(90deg, rgba(87, 84, 74, 0.4), rgba(87, 84, 74, 0.4) 1px, rgba(87, 84, 74, 0.8) 1px, rgba(87, 84, 74, 0.8) 2px, rgba(87, 84, 74, 0.9) 2px, rgba(87, 84, 74, 0.9) 3px, rgba(87, 84, 74, 0.4) 3px, rgba(87, 84, 74, 0.4) 4px, transparent 4px);
  background-repeat: repeat-x;
}

@keyframes pulsingBackground {
  0% {
    background-color: #57544a;
  }
  20% {
    background-color: #57544a;
    opacity: 1;
  }
  50% {
    background-color: #57544a;
    opacity: 0.5;
  }
  80% {
    background-color: #57544a;
    opacity: 1;
  }
  100% {
    background-color: #57544a;
  }
}
@keyframes pulsingBackground {
  0% {
    background-color: #57544a;
  }
  20% {
    background-color: #57544a;
    opacity: 1;
  }
  50% {
    background-color: #57544a;
    opacity: 0.5;
  }
  80% {
    background-color: #57544a;
    opacity: 1;
  }
  100% {
    background-color: #57544a;
  }
}
.timeline-container {
  padding: 3px;
  border: 3px solid #57544a;
}

.timeline-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.timeline-list_event {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
  overflow: hidden;
  max-height: 3rem;
  transition: transform 0.2s, max-height 0.2s linear;
}
.timeline-list_event:hover {
  z-index: 1;
  cursor: pointer;
  transform: scale(1.15);
}
.timeline-list_event.selected {
  transform: scale(1.15);
  max-height: 20rem !important;
}
.timeline-list_event.selected .timeline-list_content {
  opacity: 1;
}
.timeline-list_title {
  text-align: center;
  padding-bottom: 1rem;
}
.timeline-list_br {
  width: 100%;
  height: 2px;
  background-color: #555;
}
.timeline-list_stamp {
  padding-bottom: 0.5rem;
}
.timeline-list_content {
  transition: opacity 0.2s;
  opacity: 0;
  text-align: left;
}

#event_create-node-run-script {
  max-height: 4rem;
  color: #dad4bb;
  background-color: #5616be;
}
#event_create-gosu {
  color: #57544a;
  background-color: #29beb0;
}
#event_start-yorha-ui {
  color: #dad4bb;
  background-color: #307679;
}

.main {
  position: relative;
  padding: 0 15%;
  overflow-y: scroll;
  justify-self: center;
  height: 100%;
}
.main::-webkit-scrollbar {
  background-color: transparent;
  width: 7px;
  height: 7px;
}
.main::-webkit-scrollbar-track, .main::-webkit-scrollbar-corner {
  background-color: transparent;
}
.main::-webkit-scrollbar-thumb {
  background-color: #57544a;
}

a {
  text-decoration: none;
}

.button {
  transition: background-color 0.2s, color 0.2s;
  background-color: #57544a;
  color: #dad4bb;
  padding: 0.75rem 1rem;
  text-align: center;
}
.button:hover {
  background-color: #cd664d;
  color: #dad4bb;
}
.button span {
  text-decoration: none;
}
.button.resume-button {
  width: fit-content;
}

.container {
  position: relative;
  padding: 0 15%;
  overflow-y: hidden;
  height: 100%;
}
.container-trim {
  padding: 0 5%;
}

.section {
  background-image: linear-gradient(90deg, rgba(87, 84, 74, 0.4), rgba(87, 84, 74, 0.4) 0.75rem, transparent 0.75rem, transparent 1rem, rgba(87, 84, 74, 0.4) 1rem, rgba(87, 84, 74, 0.4) 1.2rem, transparent 1.2rem);
  padding-left: 3rem;
  margin-bottom: 1rem;
  height: fit-content;
  overflow: hidden;
}
.section p {
  margin: 0.5rem 0 1rem;
}

.tag {
  background-color: #dad4bb;
  width: fit-content;
  background: #dad4bb;
  border-radius: 0;
  box-shadow: 3px 3px 0 #979381;
  padding: 0.5rem 2rem;
  margin-bottom: 2rem;
  border-radius: 0;
  background-image: linear-gradient(90deg, #57544a, #57544a 0.75rem, #dad4bb 0.75rem, #dad4bb 1rem, #57544a 1rem, #57544a 1.2rem, #dad4bb 1.2rem);
}

/*# sourceMappingURL=style.css.map */
