@use 'app' as *;
@use 'vars' as *;

$github-icon-url: "https://raw.githubusercontent.com/gilbarbara/logos/master/logos/github-icon.svg";

.bullet {
    flex: 0 0 auto;
    margin-right: 0.5rem;
    background-color: $low;
    width: 0.9rem;
    height: 0.9rem;
}

.card {
    background-color: $high;
    width: 20rem;
    margin: auto;
    margin-bottom: 1rem;

    overflow: hidden;
    transition: transform 0.1s linear;
    transform: scaleY(0);
    transform-origin: center;

    &.card-selected {
        transform: scaleY(1);
    }
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: relative;
    font-size: 1rem;
    padding: 0.25rem 0.75rem;
    margin: auto;
    vertical-align: middle;

    background-color: $low;
    color: $high;
}

.card-body {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
}

.card-image {
    background-color: $mid;
    align-self: center;
    width: 100%;
    height: 150px;
    margin-bottom: 1rem;
}

.card-description {
}

.card-divider {
    align-self: center;
    position: relative;
    margin: 1rem 0 0;

    width: 100%;
    height: 0.2rem;
    background-color: $mid;
}

.gh-icon {
    position: relative;
    mask: url($github-icon-url) center / contain no-repeat;
    transition: background-color 0.1s;

    background-color: $high;
    height: 1.25rem;
    width: 1.25rem;

    &:hover {
        background-color: $mid;
    }
}

.list {
}

.projects {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.selectable-outer {
    margin: 3px 0;
    height: 32px;

    &:hover,
    &:active,
    &-selected {
        margin: 3px 0;
        height: 32px;
        box-shadow: 0 1px $low, 0 -1px $low;
        .selectable-inner {
            color: $high;
            background-color: transparent;

            &::before {
                width: 100%;
            }
            .bullet {
                background-color: $high;
            }
        }
    }
}

.selectable-inner {
    &::before {
        z-index: -1;
        content: "";
        display: block;
        position: absolute;
        animation-name: pulsingBackground;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        width: 0%;
        transition: width 0.4s;

        top: -1px;
        bottom: -1px;
        right: 0;
        left: 0;
    }

    transition: background-color 0.4s;
    background-color: $light-mid;
    display: flex;
    align-items: center;
    user-select: none;
    padding: 0 0.5rem;
    position: relative;
    height: 28px;
    top: 2px;

    white-space: nowrap;
}
