@use 'vars' as *;

.title {
    margin-bottom: 1rem;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: .5rem;
    font-size: 4rem;
    text-shadow: .5rem .5rem $mid;
}

.subtitle {
    font-size: 1.25rem;
    color: rgba($low, 0.8);
}

.high {
    color: $high;
}
.mid {
    color: $mid;
}
.low {
    color: $low;
}
.alert {
    color: $alert;
}