@import url("https://accrazed.github.io/YoRHA-UI-BetterDiscord/font/stylesheet.css");

$font: "sce-ps3_rodin_latinregular";
$high: #dad4bb;
$light-mid: #b6b19b;
$mid: #979381;
$low: #57544a;
$alert: #cd664d;
