@use 'vars' as *;

@import "app";
@import "text";
@import "interactables";
@import "vars";
@import "trim";

.main {
    position: relative;
    padding: 0 15%;
    overflow-y: scroll;
    justify-self: center;

    &::-webkit-scrollbar {
        background-color: transparent;
        width: 7px;
        height: 7px;
        &-track,
        &-corner {
            background-color: transparent;
        }
        &-thumb {
            background-color: $low;
        }
    }
}

.container {
    position: relative;
    padding: 0 15%;

    overflow-y: hidden;
    height: 100%;

    &-trim {
        padding: 0 5%;
    }
}

.section {
    background-image: linear-gradient(
        90deg,
        rgba($low, 0.4),
        rgba($low, 0.4) 0.75rem,
        transparent 0.75rem,
        transparent 1rem,
        rgba($low, 0.4) 1rem,
        rgba($low, 0.4) 1.2rem,
        transparent 1.2rem
    );
    padding-left: 3rem;
    margin-bottom: 1rem;
    height: fit-content;
    overflow: hidden;

    p {
        margin: 0.5rem 0 1rem;
    }
}

.tag {
    background-color: $high;
    width: fit-content;
    @include boxify($high, $mid, 3px);

    padding: 0.5rem 2rem;
    margin-bottom: 2rem;

    border-radius: 0;
    background-image: linear-gradient(
        90deg,
        $low,
        $low 0.75rem,
        $high 0.75rem,
        $high 1rem,
        $low 1rem,
        $low 1.2rem,
        $high 1.2rem
    );
}
